
<%= form_with(model: kanji, local: true) do |form| %>
  <% if kanji.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kanji.errors.count, "error") %> prohibited this kanji from being saved:</h2>

      <ul>
        <% kanji.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :漢字 , class:'form-label'%>
    <%= form.text_field :kanji, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :訓, class:'form-label'  %>
    <%= form.text_field :kun, class:'form-control' %>

  </div>

  <div class="field">
    <%= form.label :音 ,class:'form-label' %>
    <%= form.text_field :on, class:'form-control' %>
  </div>
  
  <div class="field">
    <%= form.label :イメージ,class:'form-label' %><br>
    <%= form.file_field :image %><br>
  </div>

  <div class="field">
    <%= form.label :意味 , class:'form-label' %>
    <%= form.text_field :description, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


