<p id="notice"><%= notice %></p>

<p>
  <strong>漢字:</strong>
  <%= @kanji.kanji %>
</p>

<p>
  <strong>訓:</strong>
  <%= @kanji.kun %>
</p>

<p>
  <strong>音:</strong>
  <%= @kanji.on %>
</p>

<p>
  <% if @kanji.image.attached? %>
    <%= image_tag @kanji.image %>
  <% end %>
</p>

<p>
  <strong>意味:</strong>
  <%= @kanji.description %>
</p>

<h2>Review Form</h2>
 <%= form_with(model: @kanji_review, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :review %>
     <%= form.hidden_field :kanji_id, :value => @kanji.id %>
   </div>
   <div class="actions">
     <%= form.submit %>
   </div>
 <% end %>
 
<%= link_to 'Edit', edit_kanji_path(@kanji) %> |
<%= link_to 'Back', kanjis_path %>
